.background {
    background-image: url("../images/circle.jpg");
}

.box {
    background-color: rgb(192, 192, 192);
    padding: 50px 0;
    text-align: center;
}

.jumbo {
    font-size: 70px;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}