.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
}

.container {
    background-color: silver;
    margin: 100px auto;
}

.blue {
    background-color: #4aaaa5;
    padding: 10px;
    text-align: center;
}

.pic {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.banner {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: 1;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    background: rgb(7, 150, 206);
  }
  
.footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: silver;
    border-top: 8px solid slategray;
}