.blue {
    background-color: #4aaaa5;
    padding: 10px;
}

.size {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

section {
    position: relative;
    margin-bottom: 100px;
}

h3 {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: 1;
    padding: 15px;
    width: auto;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
  }
  
footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 0;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}
