.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
}

.container {
    background-color: silver;
    margin: 100px auto;
}

.title {
    padding: 10px;
    text-align: center;
    color: white;
}

.pic {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.banner {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: 1;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    background: rgb(7, 150, 206);
  }
  
.footer {
    text-align: center;
}