.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #d6121e;
}

.jumbotron {
    background-image: url(../assets/cloud.jpg);
}

.form {
    background-color: silver;
    padding: 20px;
    margin: 0;
}